.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
Package_template.swift

Podfile_template
Pods/

fastlane/
project.yml
tomtom-navigation-core-examples/TomTomSDKExamplesNavigation.xcodeproj

tomtom-navigation-offline-examples/
