.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
Package_template.swift
.swiftlint.yml

Podfile_template
Pods/

fastlane/
project.yml
TomTomNavigationCoreExamples/TomTomSDKPublicExamplesNavigation.xcodeproj

tomtom-navigation-offline-examples/
