# Copyright (C) 2023 TomTom NV. All rights reserved.

---

name: Pull Request Verification

on: 
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# clear out default permissions
permissions: {}

jobs:
  quality-checks:
    permissions:
      pull-requests: write
    uses: ./.github/workflows/quality-checks.yaml

  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit
